/* Create Task Container */
.createTask {
    width: 100%;
    height: auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

/* Task Title */
.taskTitle{
    padding: 0.5% 1%;
    height: 25px;
    width: 25%;
    margin-top: 1%;
    border: 2px solid black;
}

/* Labels  in Create Task conatiner */
label {
    font-size: 2rem;
    margin-top: 1%;
}

/* Submit Button */
.btn{
    position: relative;
    margin: 1%;
    width: 100px;
    height: 35px;
}

/* Button styles */
.btn button{
    border: none;
    box-shadow: 0px 1px 0px 2px lightgray;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: burlywood;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    border-radius: 10px;
}

/* On Hover */
.btn button:hover {
   background-color: brown;
   color: azure;
}

/* Radio Buttons Options */
.options{
    width: 20%;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
}

/* media querry for screens in between 700px and 1200px */
@media only screen and (min-width:700px) and (max-width:1200px){

    input[type="radio"]{
        margin-right:-6%;
    }

    .options{
        width: 30%;
    }
}

/* media querry for screens <= 700px */
@media only screen and (max-width:700px){

    input[type="radio"]{
        margin-right:-15%;
    }

    .options{
        width: 40%;
    }
}