main{
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

header{
    margin: 1%;
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.Tasks{
    height: auto;
    word-spacing: 5px;
    /* background-color: aqua; */
    margin-left: 15%;
    width: 60%;
    font-size: 20px;
}

.Rows{
    margin: 5px;
    border-bottom: 2px solid black;
}

th{
    padding: 10px;
}
.Activity{
    min-width: 60%;
    font-size: 1.8rem;
    background-color: lightblue;
}

.Status{
    width: 10%;
    background-color: lightblue;
    font-size: 1.8rem;
}

tr:hover {background-color: #138df1;}

td{
    background-image: linear-gradient(to right, rgba(156, 203, 224, 0.5), rgb(12, 179, 245,0.8));
}

.TaskDone {
    text-decoration: line-through;
    text-decoration-color: #1ad564bd;
    text-decoration-thickness: 3px;
  }

